@{
	Layout = "_AdminLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/news.css">
	<style>
		.active4 {
			background: #fff100;
			border-radius: 100px;
		}
	</style>
}

<form name="news" method="post" onsubmit="submitForm(event)">
    <div class="line">
        <label for="header">Заголовок</label>
        <input name="Header" id="header" type="text" placeholder="Введіть заголовок повідомлення" required>
    </div>
    <div class="line second">
        <label for="news">Зміст</label>
        <textarea name="Description" id="news" required></textarea>
    </div>
    <input class="btn" type="submit" value="Розіслати" id="sumbit-button">
</form>

@section Scripts {
    <script>
        const button = document.getElementById('sumbit-button')
        const header = document.getElementById('header')
        const message = document.getElementById('news')
        function submitForm(event) {
            button.disabled = true;
        }
    </script>
}