@{
	Layout = "_AdminLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/news.css">
	<style>
		.active4 {
			background: #fff100;
			border-radius: 100px;
		}
	</style>
}

<form method="post">
    <div class="line">
        <label for="header">Заголовок</label>
        <input name="header" id="header" type="text" placeholder="Введіть заголовок повідомлення">
    </div>
    <div class="line second">
        <label for="news">Зміст</label>
        <textarea name="news" id="news"></textarea>
    </div>
    <input class="btn" type="submit" value="Розіслати">
</form>