<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Майстерня солодощів</title>
	<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caveat:wght@700&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet" href="~/css/admin.css">
	@RenderSection("Styles", false)
</head>
<body>
	<div class="modal" id="modal"></div>
	<header>
		<p class="name"><a href="/Home/Main">Майстерня солодощів</a></p>
		<nav>
			<ul>
				<li><a href="/Admin/Items" class="active1">Товари</a></li>
				<li><a href="/Admin/Staff" class="active2">Співробітники</a></li>
				<li><a href="/Admin/Users" class="active3">Користувачі</a></li>
				<li><a href="/Admin/News" class="active4">Новини</a></li>
			</ul>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		<p>&#64;2023 Всі права захищені.</p>
	</footer>
	<script src="~/js/modal.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>