<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Майстерня солодощів</title>
	<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caveat:wght@700&display=swap"
		  rel="stylesheet">
	@RenderSection("Styles", false)
</head>
<body>
	<div class="modal" id="modal"></div>
	<header>
		<p class="name"><a href="/Home/Main">Майстерня солодощів</a></p>
		<nav>
			<ul>
				<li><a href="/Home/Main" class="active1">Головна сторінка</a></li>
				<li><a href="/Item/Menu" class="active2">Меню</a></li>
				<li><a href="/Staff/Staff" class="active3">Команда</a></li>
				<li><a href="/Cart/Cart" class="active4">Кошик</a></li>
				@if (User.IsInRole("Admin")) {
					<li><a href="/Admin/Items" class="active5">Адмінпанель</a></li>
				}
			</ul>
		</nav>
	</header>
	<main>
		@if (User.Identity.IsAuthenticated) {
			<a class="btn-log" href="/Account/LogOut"><span>Вийти</span></a>
		}
		else {
			<a class="btn-log" href="/Account/Login"><span>Увійти</span></a>
		}
		@RenderBody()
	</main>
	<footer>
		<p>&#64;2023 Всі права захищені.</p>
	</footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	@RenderSection("Scripts", false)
</body>
</html>