<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caveat:wght@700&display=swap"
          rel="stylesheet">
    <title>Кондитерський магазин</title>
</head>
<body>
    <header>
        <p class="name">Майстерня солодощів</p>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&#64;2023 Всі права захищені.</p>
    </footer>
</body>
</html>