<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caveat:wght@700&display=swap"
          rel="stylesheet">
    <link rel="icon" href="https://lh3.googleusercontent.com/fife/AK0iWDxaMcVhQlvGfZa9loa1er6GzTIS1_gAxw5qy5aGuvZ6PvuOgTjqDhnyb8JqvXKYLGXixjIrkzHccjQ1LT2Idq5zk4bNhi6k-uVqsrtADtDyViLFqBmZ9QDH3Yr8MjPGXVrFyB_zZqLGo8ynWdJ1dPDHPkEARAYKqKo8yFZ1M8R-Kba05Fzct_RTMqUUnQ1Y2majWfFNU2R5jhFB265xRq-dFfyLUr9EvYGo6WsTvwWEPeSlye96E7WhgBVWe1NpQ43DI5WUni649Cqd2--mXlBwVLerLGAMxXAfzjbX7-sC9jn7Sl0OaMTLZNqwlDdanWds71-J0ST1iLNg7f-3Nk8J43a5N7NrdKY8VpcX_5xvupu_c8U3egjaGM9BOTpCFLZW22rX2hBjflCCCLntelzC18KyqgsUGvb-jsbbun7kDfMpFwkZ-CwR9-Goiv6_s0AlnIcf5Qpzl-CfNyoU-whHuY_AGh7nOWqocWI1ZpNO3FfalLzJWou--3NYgV84CX-d1WJpm6nJazkpzaqlSZSNY1xi51y27DFkfo64XQCeqzzKdWLAn7czcRQemOU_F_NxFrxj6h_FQ9EkcZqvKdPfSttmmMJSlh3nX-jSLRT0vDn2AUCJjWtTl1WFMCy2iPX8t_jbn-tzeY_NIB1NO80vqwUDyEuWbykFP4NuRL3uSFuEKXvPRZOK6hZcGkEG_A_KXgHkwwyQeyOi2r-xn8SdNqcMdEJoT_X3MwMAVZuyhc4ie-lOu4L9fZ5RY6ySZa8X3VxVokZwxG6Eq6IGn9kNQ0syADsjYRZ1BjFxuYu6nA7z53XLK9tD_6dAs-VYzwTBtnhDHSilr6vlcTB_W0_fR6sMdH3aSykkothEjlAS1XaaN-_LtPPyehCY_QH2Oh8-sTkNb4RDOJU2eMdaauOLsj_TRPbuXMkbtRYbGD41w67pT9cJZtO_EXUQH8EX218kJNqvBRuhkCBpuVvuVCh81UxaHfSash2SUuMbRsVrHOfIHFXREJlDnqcv8Q10ybYivTS25_bor1JXCFea8x8gKU0Nl0U3Ais3LY7zoW_21_oHIFdCTKE-7vDDmfuw7ETT-yI8_HVoPCRqxM06j6M9SBGMIw0Ryb2wf-Vi_yT-1rdWLlllu3tHQ_5zx25RDPVD3mr4052SPsvOdO3Uq2x_RV-jjxvzZzDLQGdagoTq7uqlNOh5iwAE60xNukRx7OPCgmSBGVPDLT9WhF2WX9E4MbU1VJh2nFwg5_esYCW5EGz5mOM51FAIf-07mHNmQrp7G1GrlOHcUC7R4AMaAhUiZZsFzSEFlOniLFNbvMKRFA9tJuRfL5-ZhiJlfj28gEY67DlccReKKeYpSA1BsnO3kxfAvLeNBees3qrYz9HPNRpzgaNSkjtoxIKFfXzPdJHpzPQemxYqJ_FKjPiSqGDvu-_x2Bj7yzMSSV_AL7mOtGXFbomoW4MDr-IVkv7nGcl0aE4VfMBgXIn9-xn46wsz7qyqsprEU3TPcYTHkEtzg4Ng7riyAwQHSXWrwl6EEvKcctSQQZ4x-BPjRQcgNcaUwggcVsZLo3DHuCURszghvh1d9MTEbBpp1RTCMs_uggZ_HJXlNin2kPDLI4kSNLQHFWoFdTsRT2yhMILdRITi5I2nxZIO-aGKDkKbsa8d6F85xAWrOzzzGG32JK3bzLe_0Iy9FAqV4mGSGvXB9hWflNGYD3oT0qYXHrJvdmZqGkntqG8IzBXSgCWPf8FyjbwWXfWJiis8b0dq8orDG0LIO_1C2DUg9gLpWxRTSL2qC861GCZyDxBEvjbMqAasQ0hLcEJguA4JyylANY8gmv8=w1868-h932">
    <title>Майстерня солодощів</title>
</head>
<body>
    <header>
        <p class="name"><a href="/Home/Main">Майстерня солодощів</a></p>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&#64;2023 Всі права захищені.</p>
    </footer>
</body>
</html>