@using WebApplication45.Models;

@{
	Layout = "_LoginLayout";
}

<h3 class="title">Вхід</h3>
<form action="#" method="post">
    <div class="line">
        <label for="login">Логін або e-mail</label>
        <input id="login" type="text" placeholder="Введіть логін або e-mail">
    </div>
    <div class="line">
        <label for="password">Пароль</label>
        <input id="password" type="password" placeholder="Введіть пароль">
    </div>
    <input class="btn" type="submit" value="Увійти">
</form>