@using WebApplication45.Models;

@{
    Layout = "_LoginLayout";
}

<h3 class="title">Реєстрація</h3>
<form asp-controller="Account" asp-action="Register">
    <div class="line">
        <label for="login">Логін</label>
        <input asp-for="Login" id="login" type="text" placeholder="Введіть логін">
    </div>
    <div class="line">
        <label for="email">E-mail</label>
        <input asp-for="Email" id="email" type="email" placeholder="Введіть e-mail">
    </div>
    <div class="line">
        <label for="password">Пароль</label>
        <input asp-for="Password" id="password" type="password" placeholder="Введіть пароль">
    </div>
    <div class="line">
        <label for="passwordConfirm">Підтвердження пароля</label>
        <input asp-for="PasswordConfirm" id="passwordConfirm" type="password" placeholder="Повторіть пароль">
    </div>
    <input class="btn" type="submit" value="Зареєструватися">
</form>