<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Кондитерський магазин</title>
	<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caveat:wght@700&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet" href="~/css/admin.css">
	<link rel="stylesheet" href="~/css/cart.css">
	<link rel="stylesheet" href="~/css/home.css">
	<link rel="stylesheet" href="~/css/menu.css">
	<link rel="stylesheet" href="~/css/staff.css">
</head>
<body>
	<header>
		<p class="name">Майстерня солодощів</p>
		<nav>
			<ul>
				<li><a href="/Home/Index" class="active">Головна сторінка</a></li>
				<li><a href="/Home/Menu">Меню</a></li>
				<li><a href="/Home/Staff">Команда</a></li>
				<li><a href="/Home/Cart">Кошик</a></li>
				@if (User.IsInRole("Admin")) {
					<li><a href="/Home/Cart">Адмінпанель</a></li>
				}
			</ul>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		<p>&#64;2023 Всі права захищені.</p>
	</footer>
</body>
</html>