@{
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/home.css">

<style>
	.active1 {
		background: #fff100;
		border-radius: 100px;
	}
</style>

<div class="description">
	<p>Ласкаво просимо до Майстерні Солодощів! Наша майстерня - це місце, де народжуються справжні чарівництва солодкого світу. Ми віримо, що солодощі - це більше, ніж просто їжа; це мистецтво, яке може викликати посмішку на обличчі та подарувати радість. Наші фахівці - це справжні артисти, які знають, як створити найбільш смачні та неповторні солодощі. Ми використовуємо тільки найкращі інгредієнти та вдосконалюємо кожен рецепт, щоб забезпечити найвищу якість. Креативність у кожному шматочку - в кожному нашому солодкому шедеврі ви знайдете елементи дизайну та оформлення, які роблять їх особливими. Ми завжди намагаємося вражати інноваціями та нестандартними рішеннями у дизайні.</p>
</div>