<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Кондитерський магазин</title>
	<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caveat:wght@700&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	<header>
		<p class="name">Майстерня солодощів</p>
		<nav>
			<ul>
				<li><a href="/Home/Index" class="active">Головна сторінка</a></li>
				<li><a href="/Home/Menu">Меню</a></li>
				<li><a href="/Home/Staff">Команда</a></li>
				<li><a href="/Home/Cart">Кошик</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="description"><p>Ласкаво просимо до Майстерні Солодощів! Наша майстерня - це місце, де народжуються справжні чарівництва солодкого світу. Ми віримо, що солодощі - це більше, ніж просто їжа; це мистецтво, яке може викликати посмішку на обличчі та подарувати радість. Наші фахівці - це справжні артисти, які знають, як створити найбільш смачні та неповторні солодощі. Ми використовуємо тільки найкращі інгредієнти та вдосконалюємо кожен рецепт, щоб забезпечити найвищу якість. Креативність у кожному шматочку - в кожному нашому солодкому шедеврі ви знайдете елементи дизайну та оформлення, які роблять їх особливими. Ми завжди намагаємося вражати інноваціями та нестандартними рішеннями у дизайні.</p></div>
	</main>
	<footer>
		<p>&#64;2023 Всі права захищені.</p>
	</footer>
</body>
</html>