<link rel="stylesheet" href="~/css/Modal/delete.css">

<div class="card">
	<div class="card-header">
		<h3>Замовлення прийнято</h3>
	</div>
	<hr>
	<div class="card-buttons" style="justify-content: right;">
		<button class="btn-save" onclick="closeModalSender(@User.FindFirst("id").Value)">Ок</button>
	</div>
</div>