@import "common.css";
@import "header.css";
@import "footer.css";

main {
	width: 60%;
	margin: auto;
}

.list {
	overflow-y: auto;
	max-height: calc(100vh - 380px);
}

	.list::-webkit-scrollbar {
		width: 8px;
		background: #42C029FF;
		border-radius: 50px;
	}

	.list::-webkit-scrollbar-thumb {
		background: #42C029FF;
		border-radius: 50px;
	}

	.list::-webkit-scrollbar-track {
		background: #f0f0f0;
	}

	.list ul {
		list-style: none;
	}

		.list ul li {
			border: 3px solid rgb(162, 251, 144);
			margin-bottom: 10px;
			border-radius: 15px;
			background-color: linen;
			box-shadow: 0 2px 5px 0 rgb(162, 251, 144);
		}

		.head-list, .list ul li {
			width: 100%;
			box-sizing: border-box;
			padding: 10px 20px;
			display: grid;
			grid-template-columns: 10% 30% 30% 16% 14%;
		}

.btn {
	width: 50%;
	display: block;
	padding: 10px 20px;
	background-color: #42C029FF;
	color: #fff;
	cursor: pointer;
	border: none;
	border-radius: 50px;
	margin: 15px auto;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.4em;
}

	.btn:enabled:hover {
		text-decoration: underline;
		background-color: #236516;
	}

	.btn:disabled {
		background-color: #a6c79f;
		cursor: wait;
	}

.text {
	margin: auto 0;
	font-size: 1.2em;
}

.btn-edit, .btn-delete {
	max-height: 100%;
	min-width: 115px;
	padding: 4px;
	margin-left: 5px;
	border-radius: 50px;
	color: white;
}

.btn-edit {
	background-color: #ff9429;
	border: 3px solid #e6780b;
}

.btn-delete {
	background-color: #ff3030;
	border: 3px solid #cc1010;
}