* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #c17d00;
}

body {
	background: #fffee8;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

a:hover {
	text-decoration: underline;
}

p, a, h3, span {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.4em;
}

button:hover {
	cursor: pointer;
}