@model List<Staff>

@{
	Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/staff.css">

<style>
	.active3 {
		background: #fff100;
		border-radius: 100px;
	}
</style>

@foreach (Staff person in Model) {
	<div class="card">
		<img src="@person.ImagePath">
		<div class="info">
			<h3>@person.Name</h3>
			<p>@person.Description</p>
		</div>
	</div>
}