@import "modal.css";

.modal .card {
	width: 45%;
}

	.modal .card > *:not(.card-buttons, .card-info) {
		display: flex;
		justify-content: center;
	}

.modal .card-info {
	margin: auto;
	display: grid;
	grid-template-columns: 17% 45% 35%;
	justify-content: space-between;
}
