@import "modal.css";

.modal .card {
	width: 60%;
}

.modal .card-body {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-gap: 30px;
}

.modal .card-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

	.modal .card-info input, .modal textarea {
		width: 100%;
		margin-bottom: 13px;
	}

.modal textarea {
	resize: none;
	height: 300px;
}

#id {
	width: 170px;
}
